
header {
    display:block;
    width: 100%;
    background-color:white;
	  text-align: center;
	  font-size:30px
}
article {
   display:block;
   float: left;
   height: 10000px;
   width: 70%;
   background-color:yellow;
   text-align: center;
}
nav {
   display:block;
   float: left;
   width: 15%;
   height: 10000px;
   background-color:lime;
   text-align:center;
}
aside {
   display:block;
   float: right;
   right: 15%;
   width: 15%;
   height: 10000px;
   background-color:orange;
   text-align:center;
}

p{
	margin-top:0px;
	margin-bottom:0px;
	}
ul{
	margin-top:0px;
	margin-left:-50%;
	}
