
<header><p>{{name}}</p></header>
<nav>
  Navigation:<br>
  <a routerLink = "/OnChanges">OnChanges</a><br>
  <a routerLink = "/DoCheck">DoCheck</a><br>
  <a routerLink = "/AfterContent">AfterContent</a><br>
  <a routerLink = "/AfterView">AfterView</a><br>
  <a routerLink = "/spy">OnDestroy</a><br>
  <a routerLink = "/counter">Counter</a><br>
</nav>
<article><router-outlet></router-outlet></article>
<aside>
  <button (click)="logger.clear()">Clear Log</button><br><br>
  <ul *ngFor="let a of logger.logs">{{a}}</ul>
</aside>
